
<!DOCTYPE html>  
<html>     
<head>      
<Title>     
Sign Language Detection  
</title>
<style>h1{
    text-align: center;
    color:rgb(47, 0, 255);
    font-style: italic;
    font-size:40px; 
}
#footer{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
</style>   
</head>  
<body>
<h1>Sign Language Detection and Translation System</h1> 
<p style="text-align:center;"><img src="https://www.pngkey.com/png/detail/392-3922831_sign-language-logo.png" alt="Sign Language Logo@pngkey.com" width="400" height="400"></p>     
<form class = "p-3 text-center" action = '/', method = "post" enctype="multipart/form-data">
<input class = "btn btn primary mt-3" style="display:block; margin:0 auto; font-size:30px; background-color: rgb(0, 255, 132); " type = "submit" value = "Click here to Detect">
</form>
<div id="footer">
    <p>Authors: Samuel Maiyo and Edwin Mutwo </p>
    <p><a href="mailto:sammymaiyo12@gmail.com">sammymaiyo12@gmail.com</a></p>
    <p><a href="mailto:edwinmutwo8@gmail.com">edwinmutwo8@gmail.com</a></p>
</div>
</body>   
</html>